html {
  transition: none;
  scroll-behavior: smooth;
  width: 60%;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-size: 16px;
  background-color: #C8C8C8;
}

body {
  height: 100%;
  min-height: 100%;
  line-height: 1.75;
  background-color: #C8C8C8;
}

th, thead, tbody, td, tr {
  border: 3px solid black;
}

h1 {
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}

h3 {
  font-size: 45px;
  text-align: center;
}

h4 {
  font-size: 30px;
  text-align: center;
}

h5 {
  font-size: 20px;
}

@media(max-width: 900px) {
  html {
    font-size: 14px !important;
    width: 80% !important;
  }
}

@media(max-width: 480px) {
  html {
    font-size: 12px !important;
    width: 90% !important;
  }
}

@media(max-width: 320px) {
  html {
    font-size: 12px !important;
    width: 100% !important;
  }
}

#head {
  background-color: #C8C8C8;
  position: fixed;
  top: 0;
  z-index: 900;
  width: 60%;
  height: 23px;
}

#scrollStatus {
  background-color: #C8C8C8;
  border-style: solid;
  width: 100%;
  height: 150px;
  overflow: auto;
}

#statusText {
  "margin: 10px;font-weight:bold"
}

.container {
  display:none;
  width: 250px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}

.scroll {
  width: 100%;
  height: 400px;
  overflow: auto;
  overflow-y: scroll;
  display: none;
}

.table {
  width: 99%;
  height: 100px;
  float: left;
  border: 4px solid black;
}

.hideHeader{
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

input[type=submit], button {
  cursor: pointer;
  cursor: hand;
}

input[type=checkbox] {
  transform: scale(2.5);
}

a:link:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}
